
/*==========================================================================*/
/*============================RESPONSIVE====================================*/
/*==========================================================================*/
@media all and (max-width: 1025px){

}

@media all and (max-width: 991px){

}

@media all and (max-width: 768px){

}

@media all and (max-width: 767px){

}

@media all and (max-width: 640px){

}

@media all and (max-width: 480px){

}

@media all and (max-width: 380px){

}