.mod-content{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    margin: 0 -10px;
}
.mod-content #vnt-sidebar{
    width: 300px;
    padding: 0 10px;
}
.mod-content #vnt-main{
    width:-webkit-calc(100% - 300px);
    width:-moz-calc(100% - 300px);
    width:-o-calc(100% - 300px);
    width:calc(100% - 300px);
    padding: 0 10px;
}
/*===================================================================*/
.boxInfo{
    background: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
}
.boxInfo .img img{
    width: 100%;
}
.boxInfo .logo_img{
    width: 120px;
    height: 120px;
    border:solid 4px #ffffff;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-top: -60px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.35);
}
.boxInfo .logo_img img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%;
}
.boxInfo .name{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 5px;
}
.boxInfo .like{
    text-align: center;
}
.boxInfo .like a{
    display: inline-block;
    width: 100%;
    max-width: 110px;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    color:#666666;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    border:solid 1px rgba(0,0,0,0.08);
}
.boxInfo .like a span{
    padding-left: 20px;
    position: relative;
}
.boxInfo .like a span:before{
    content: "\f004";
    font-family: 'Font Awesome 5 Free';
    font-weight: 500;
    position: absolute;
    left:0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.boxInfo .like a.active {
    border-color: #f57a1a;
    color: #f57a1a;
}
.boxInfo .like a.active span:before{
    font-weight: 900;
}
/*==================================================================*/
.boxAttr{
    background: #ffffff;
    margin-bottom: 20px;
}
.boxAttr .title{
    text-align: center;
    padding: 9px 10px;
    display: none;
    cursor: pointer;
}
.boxAttr .title span{
    padding-right: 20px;
    position: relative;
}
.boxAttr .title span:before{
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right:0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.boxAttr .content{
    padding: 15px;
}
.boxAttr ul li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    position: relative;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}
.boxAttr ul li span{
    color: #f57a1a;
}
.boxAttr ul li:before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    color:#999999;
    font-size: 13px;
    line-height: 21px;
}
.boxAttr .itemCheck{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    padding-left: 55px;
    position: relative;
}
.boxAttr .itemCheck img{
    position: absolute;
    top: 5px;
    left: 0;
    max-width: 45px;
}
.boxAttr .itemCheck p{
    padding: 0;
}
.boxAttr>div:last-child{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
/*=====================================================================*/
.banerBooth{
    margin-bottom: 20px;
}
.tab-list{
    margin-bottom: 20px;
}
.tab-list .mc-menu{
    background: #f57a1a;
    color:#ffffff;
    padding: 8px 15px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    display: none;
}
.tab-list .mc-menu:before{
    content: "\f0d7";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right:15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.boxDess{
    background: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
}
.toolsFilterBooth{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    background: #ffffff;
    margin-bottom: 20px;
}
.toolsFilterBooth .cate{
    position: relative;
}
.toolsFilterBooth .cate .icon {
    font-weight: bold;
    color: #ffffff;
    width: 170px;
    padding: 9px 15px;
    background: #f57a1a;
    position: relative;
    cursor: pointer;
}
.toolsFilterBooth .cate .icon:before{
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right:15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.toolsFilterBooth .cate.active .popup{
    display: block;
}
.toolsFilterBooth .cate .popup{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #ffffff;
    width: 250px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
    display: none;
    border-left: solid 1px rgba(0,0,0,0.1);
    z-index: 10;
}
.toolsFilterBooth .cate .popup ul li{
    border-bottom: solid 1px rgba(0,0,0,0.1);
}
.toolsFilterBooth .cate .popup ul li a{
    display: block;
    padding: 8px 10px;
}
.toolsFilterBooth .filter{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    padding: 9px 10px;
}
.toolsFilterBooth .filter .txt{
    font-weight: bold;
    color:#666666;
    margin-right: 15px;
    flex-shrink: 0;
}
.toolsFilterBooth .filter ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-wrap: wrap;`
}
.toolsFilterBooth .filter ul li{
    margin-right: 10px;
}
.toolsFilterBooth .filter ul li a{
    color:#666666;
}
.toolsFilterBooth .filter ul li a:hover{
    color: #f57a1a;
}
.toolsFilterBooth .linkFilter {
    width: 50%;
    display: none;
}
.toolsFilterBooth .linkFilter a{
    display: block;
    padding: 9px 10px;
    text-align: center;
}
.toolsFilterBooth .linkFilter a span{
    padding-left: 20px;
    position: relative;
}
.toolsFilterBooth .linkFilter a span:before{
    content: "\f160";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left:0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*====================================================*/
.comProduct{
    padding: 10px;
    background: #f6f6f6;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.comProduct .img{
    width: 50px;
    margin-right: 10px;
    flex-shrink: 0;
}
.comProduct .tend{
    margin-bottom: 5px;
}
.comProduct .tend a{
    display: block;
}
.comProduct .price{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
}
.comProduct .price .red{
    font-weight: bold;
    color:#e0493e;
    margin-right: 5px;
}
.comProduct .price .nor{
    color:#999999;
    text-decoration: line-through;
}
/*================================================================*/
/*=========================RESPONSIVE=============================*/
/*================================================================*/
@media all and (max-width: 1025px){

}

@media all and (max-width: 991px){
.mod-content{
    display: block;
}
.mod-content #vnt-sidebar,
.mod-content #vnt-main{
    width: 100%;
}
.boxInfo{
    padding-left: 100px;
    position: relative;
}
.boxInfo .img{
    display: none;
}
.boxInfo .name,
.boxInfo .like{
    text-align: left;
}
.boxInfo .logo_img{
    width: 75px;
    height: 75px;
    position: absolute;
    margin-top: 0;
    top: 10px;
    left: 10px;
}
.boxAttr .title{
    display: block;
}
.boxAttr .content{
    display: none;
    border-top: solid 1px rgba(0,0,0,0.1);
}
.boxAttr.active .content{
    display: block;
}
.toolsFilterBooth .filter{
    display: none;
}
.toolsFilterBooth .cate{
    width: 50%;
}
.toolsFilterBooth .cate .icon{
    width: 100%;
}
.toolsFilterBooth .linkFilter{
    display: block;
}
}

@media all and (max-width: 768px){

}

@media all and (max-width: 767px){
.tab-list{
    padding: 0;
}
.tab-list .mc-menu{
    display: block;
}
.tab-list ul{
    display: none;
}
.tab-list.active ul{
    display: block;
}
.tab-list ul li{
    margin-right: 0;
}
.tab-list ul li a{
    padding: 8px 15px;
}
.tab-list ul li a:before{
    display: none;
}
}

@media all and (max-width: 640px){

}

@media all and (max-width: 480px){

}

@media all and (max-width: 380px){

}