.box.not .box-title.v1{
	margin-bottom: 30px;
}
.vnt-category{
	margin-bottom: 30px;
}
.vnt-category .grid{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-start;
	margin: 0 -15px;
	flex-wrap: wrap;
}
.vnt-category .grid .col{
	width: 25%;
	padding: 0 15px;
}
.category{
	padding-left: 50px;
	position: relative;
	margin-bottom: 40px;
}
.category .img{
	width: 40px;
	height: 40px;
	background: #f57a1a;
	border-radius: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
}
.category .img img{
	max-height: 20px;
	max-width: 20px;
	filter: invert(1);
}
.category .title{
	font-weight: 800;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px #f57a1a;
}
.category .content ul {
    max-height: 135px;
    overflow: hidden;
}
.category.show-more .content ul{
	max-height: initial;
}
.category .content ul li{
	margin-bottom: 5px;
}
.category .content ul li a{
	display: block;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}
.category .more{
	font-size: 13px;
	line-height: 21px;
	color:#0087c1;
	cursor: pointer;
}
.category .more span{
	padding-right: 15px;
	position: relative;
}
.category .more span:before{
	content: "\f0d7";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	position: absolute;
	right:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
/*====================================================*/
.item-place{
	margin-bottom: 10px;
	background: #ffffff;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.item-place>div{
	padding: 15px 20px;
}
.item-place .info{
	width:-webkit-calc(100% - 350px);
	width:-moz-calc(100% - 350px);
	width:-o-calc(100% - 350px);
	width:calc(100% - 350px);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.item-place .tools{
	width: 350px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.item-place .img{
	width: 70px;
	height: 70px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}
.item-place .img img{
	max-height: 60px;
	max-width: 60px;
}
.item-place .tend{
	font-size: 16px;
	line-height: 24px;
	font-weight: 800;
	text-transform: uppercase;
}
.item-place .tend img{
	max-height: 15px;
}
.item-place .add{
	font-size: 13px;
	line-height: 21px;
	color:#888888;
}
.item-place .phone{
	font-size: 12px;
	line-height: 20px;
	color:#666666;
	padding: 4px 10px;
	border:solid 1px rgba(0,0,0,0.15);
	border-radius: 3px;
	margin-right: 10px;
	cursor: pointer;
}
.item-place .phone span{
	padding-left: 15px;
	position: relative;
}
.item-place .phone span:before{
	content: "\f879";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	position: absolute;
	left:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.item-place .phone span.h{
	display: block;
}
.item-place .phone span.s{
	display: none;
}
.item-place .phone.active span.h{
	display: none;
}
.item-place .phone.active span.s{
	display: block;
}
.item-place .link a{
	display: block;
	font-size: 12px;
	line-height: 20px;
	color:#ffffff;
	background: #f57a1a;
	border-radius: 3px;
	padding: 5px 10px;
}
.item-place .link a span{
	padding-left: 20px;
	position: relative;
}
.item-place .link a span:before{
	content: "\f54e";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	position: absolute;
	left:0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.item-place .link a:hover{
	background: #333333;
}
/*================================================================*/
/*=========================RESPONSIVE=============================*/
/*================================================================*/
@media all and (max-width: 1025px){

}

@media all and (max-width: 991px){
.vnt-category .grid .col{
	width: 33.333333%;
}
}

@media all and (max-width: 768px){

}

@media all and (max-width: 767px){
.vnt-category .grid .col{
	width: 50%;
}
.item-place{
	display: block;
}
.item-place .info{
	width: 100%;
	align-items: flex-start;
}
.item-place .tools{
	width: 100%;
	padding-top: 0;
}
}

@media all and (max-width: 640px){
.vnt-category .grid .col{
	width: 100%;
}
.vnt-category .grid .col:last-child .category{
	margin-bottom: 0;
}
.category .more{
	display: none;
}
.category .title{
	margin-bottom: 0;
	cursor: pointer;
	position: relative;
}
.category .title:before{
	content: "\f107";
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	position: absolute;
	top: 0;
	right: 0;
}
.category.active .title:before{
	content: "\f106";
}
.category .img{
	top: -5px;
}
.category .content {
	display: none;
	margin-top: 15px;
}
.category.active .content{
	display: block;
}
.category .content ul{
	max-height:initial;
}
.item-place .tend{
	font-size: 14px;
	line-height: 22px;
}
}

@media all and (max-width: 480px){

}

@media all and (max-width: 380px){
.item-place .tools{
	display: block;
}
.item-place .phone{
	margin-right: 0;
	margin-bottom: 10px;
}
}